| reaction = document.querySelector(`[data-reaction="${ #{@micropost.id} }"]`);
| reaction.innerHTML = "#{j render('account/reactions/reaction', micropost: @micropost, users_reactions: @micropost.reactions.group(:reaction).count, user_reactions: @micropost.reactions.where(user: current_user).pluck(:reaction))}";
