| document.getElementById('modal').innerHTML = ("#{j render partial: 'account/transaction/modal_new_transaction', transaction: @transaction}");
| new bootstrap.Modal(document.getElementById('TransactionModal')).show();
