| bootstrap.Modal.getInstance(document.getElementById('MicropostModal')).hide();
| micropost = document.querySelector(`#microposts`);
| micropost.insertAdjacentHTML('afterbegin', "#{j render('account/microposts/micropost', micropost: @micropost)}");
