| document.getElementById('modal').innerHTML = ("#{j render partial: 'account/microposts/modal_micropost', micropost: @micropost}");
| new bootstrap.Modal(document.getElementById('MicropostModal')).show();
| document.querySelector('.modal-backdrop').remove();
