| document.getElementById('modal').innerHTML = ("#{j render partial: 'account/microposts/modal_micropost', micropost: Micropost.new}");
| new bootstrap.Modal(document.getElementById('MicropostModal')).show();
