| bootstrap.Modal.getInstance(document.getElementById('MicropostModal')).hide();
| micropost = document.querySelector(`#micropost_${ #{@micropost.id} }`);
| micropost.innerHTML = "#{j render('account/microposts/micropost', micropost: @micropost)}";
