| bootstrap.Modal.getInstance(document.getElementById('MicropostModal')).hide();
| micropost = document.getElementById(`#{dom_id @micropost}`);
| micropost.innerHTML = "#{j render('account/microposts/micropost', micropost: @micropost)}";
