= "User #{@feedback.name} sent feedback"
= "Email - #{@feedback.email}"
= "Subject - #{@feedback.subject}"
= "Reason - #{@feedback.reason}"
= "Created at - #{@feedback.created_at}"
= @feedback.message
