td = gift.name
td = gift.description
td = gift.amount
td = gift.price
td = gift.gift_type
td 
  = link_to 'Edit', edit_account_gift_path(gift), class: 'btn btn-primary button-width gift-button-item'
  = link_to 'Delete', account_gift_path(gift), method: :delete, class: 'btn btn-primary button-width gift-button-item'