.gift-text-size{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}
.button-width{
  max-width: 120px;
  height: 40px;
  margin: 10px 5px;
}

.gift-button-container{
  display: flex;
  flex-direction: row;

  .gift-button-item:first-child{
    margin-left: 10px;
  }
}
