// mixins and variables
$btn_color: linear-gradient(90deg, rgb(111,6,131) 50%, rgb(69,6,131) 100%);

@mixin color_btn {
  width: 200px !important;
  height: 50px;
  background: $btn_color;
  color: white;
  border: unset;
  border-color: unset !important;
  box-shadow: 0 0 20px rgb(59, 58, 61);
}

// about__info
.about__info {
  margin-bottom: 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  .about__title {
    margin: 50px 0;
    text-align: center;
    color: #450683;
    text-transform: uppercase;
    font-size: 50px;
  
  }
  .banner-image > img {
    width: 500px;
  }
  h3, h4 {
    color: #264067;
    font-size: 40px;
  }
  h1 {
    font-size: 80px;
    color: rgb(136,69,244);
    font-weight: bold;
  }
  .site-buttons {
    margin-top: 100px;
  }
  button {
    @include color_btn;
    &:first-child {
      margin-right: 20px;
    }
    &:hover {
      box-shadow: none;
      background: white;
      color: rgb(136,69,244);
      border: 2px solid rgb(136,69,244);
    }
  }
}

// about--area
.about__area {
  margin-bottom: 100px;
  .about-title {
    h2 {
      color: #264067;
      font-size: 40px;
    }
    .about_btn {
      @include color_btn();
      &:hover {
        box-shadow: none;
        background: white;
        color: rgb(136,69,244);
        border: 2px solid rgb(136,69,244);
      }
    }
  }
}

// about__brand-are
.about__brand-area {
  .brand-title {
    color: #264067;
    font-size: 40px;
    text-transform: uppercase;
  }
  .single-brand {
    border: 1px solid #450683;
    filter: grayscale(100%);
    text-align: center;
    padding: 1.8rem 0rem;
    margin: .9rem 0;
    width: 300px;
    height: 300px;
    cursor: pointer;
    transition: transform .4s ease;
    img {
      object-fit: fill;
    }
    &:hover {
      box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);
      transform: scale(1.1);
      filter: grayscale(0);
      border: none;
    }
 
    h2 {
      padding-top: 50px !important;
      span {
        display: block;
        font-size: 22px;
      }
    }
  }
}

// services-area
.services-area{
  .title-text {
    color: #264067;
    font-size: 40px;
    margin: 50px 0;
  }
  .services {
    background: rgba(248, 252, 253, 0.973);
    padding: 2rem 0;
    width: 16rem;
    margin: 5rem .5rem;
    transition: box-shadow .7s ease;
    &:hover {
      box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);
      transform: scale(1.1);
    }
  }
}
