$admin-purple: #734dbb;

.background-color{
  background: linear-gradient(90deg, #6f0683 50%, #450683 100%);
}

.logo-admin_layout {
  height: 2.5em;
}

.logo_organization-admin{
  width: 40px;
  height: 40px;
}
.nav-link-admin{
  color: white !important;
}

.img-organization{
  width: 5em;
}

.t-decor{
  text-decoration: none;
}

.border-color{
  border-color:white;
}

.footer-color-bg{
  background-color: #7148ad;
}
