$admin-purple: #734dbb;

.bgc{
  background-color: $admin-purple;
}
.tc{
  color: white;
}
.logo-admin_layout{
height: 2.5em;
}
.nav-link-admin{
  color: white !important;
}
.img-organization{
  width: 5em;
}
.t-decor{
  text-decoration: none;
}
.border-color{
  border-color:white;
}
