$color-purple: #A854A5;
$main-color-hover: #6f0683;
$background-color: whitesmoke;
$form-color: white;

//static pages sidebar menu
$text-color-menu: #4B4B5A;
$focus-text-color-menu: #5369f8;
$focus-background-color-menu: #f7f7ff;

//home-page

$tools-color: #f3ebff;
$head-rectangle-color: #7954BD;
$text-rectangle-color: #7953bc;
