.comment-form {
  .form-color {
    background-color: whitesmoke;
  }

  .form-control {
    border-radius: 10px;

    &:focus {
      color: grey;
      background-color: white;
      border-color: $info;
      outline: 0;
      box-shadow: none;
      text-indent: 10px;
    }
  }
}

.comment-text {
  font-size: 0.920em;
}

.small {
  font-size: 0.768em;
}

.w-55 {
  width: 55%;
}

.w-60 {
  width: 67%;
}
