.form{
  .form__input{
    margin-bottom: 1rem;
  }
  
  .form__input:focus {
    box-shadow: 0 0 0 1px #5369f8;
  }
}

.gift-create-form {
  @media (max-width: 770px) {
    .row {
      justify-content: center;
    }  
  }
}