.header-sign_up {
  text-align: center;
  padding-bottom: 3rem;
  padding-top: 3rem;
}

.form-login {
  margin: 2rem 5rem;
}

.btn-form {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.link-center {
  text-align: center;
  display: block;

  a {
    display: block;
  }
}

.form-group {
  margin-bottom: 2rem;
}


.text-center {
  display: flex;
  font-size: 1.5rem;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.pasw-label {
  font-size: 1.5rem;
}

.form-input {
  width: 50%;
  margin: auto;
}
