.gift-card {
  max-width: 1000px;

  .gift-card__button {
    margin: 0 5px;
  }

  .gift-card__description {
    width: 20rem;
  }
}

.overflow-scroll__hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
  
  &::-webkit-scrollbar {
    display: none;
  }
}
