$main-color: #450683;
$main-color-hover: #6f0683;

.navbar {
  position: sticky;
  top: 0;
  z-index: 10;

  .navbar-toggler {
    border-color: rgba(255,255,255,0.5);
    background: white;

    span {
      color: white;
    }
  }

  li {
    a {
      color: white !important;
      font-size: 20px;
      text-transform: uppercase;
      transition: all .5s ease;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .nav-btn {
    color: white !important;
    border: 1px solid white !important;

    &:first-child {
      margin-right: 20px;
    }

    &:hover {

.sidebar {
  position: fixed;
  width: 75px;
  height: 100%;
  background: rgb(86,1,142);
  background: linear-gradient(176deg, rgba(86,1,142,1) 1%, rgba(128,6,227,1) 100%);
  transition: 0.5s;
  display: flex;
}

.sidebar .icon {
  margin-left: 10px;
  position: relative;
  display: block;
  text-decoration: none;
  color: #F7F7F7;
  font-size: 30px;
}

.sidebar .title {
  display: none;
}

.sidebar:hover .title{
  width: 300px;
  display: flex;
  color: #F7F7F7;
  flex-direction: row;
}

.btn-bg-color {
  background-color: $main-color;
  border-color: $main-color;
}

.sidebar li {
  margin-top: 100px;
  padding-left: 10px;
}
}}}
