$main-color: #450683;
$main-color-hover: #6f0683;

.menu {
  background-color: $main-color;
  width: 30%;
  height: 100%;
  float: left;
  height: 100rem;

  .text_color {
    color: #fff;
  }
}

.logo{
    height: 100%;
    border: solid 1px;
    border-color: white;
}

.menu-btn {
  margin-right: 5rem;
  margin-top: 1rem;
}

.btn-color {
  background-color: #fff;
  border-color: $main-color;
  color: $main-color;

  &:hover {
    background-color: $main-color-hover;
  }
}
.btn-bg-color {
  background-color: $main-color;
  border-color: $main-color;

  &:hover {
    background-color: $main-color-hover;
  }
}
