.home-page {
  margin-left: 250px;

  section {
    width: 100%;
    display: block;
    padding-top: 7rem;
    padding-bottom: 2rem;
    background: #ffffff;

    .title {
      padding-bottom: 1rem;
      padding-left: 3rem;
      font-size: 72px;
      font-weight: 400;
      line-height: 83.16px;
      font-style: normal;
    }
  }

  .head {
    padding-top: 3rem;
    padding-bottom: 3rem;

    .head-content {
      margin-left: 5rem;
      margin-top: 7rem;

      .head-img {
        display: inline;
        float: left;
        width: 55%;
        height: 65%;
      }

      .text {
        display: inline;
        padding-left: 3rem;
        padding-top: 5rem;
      }
    }

    .head-rectangle {
      position: absolute;
      width: 1304px;
      height: 680px;

      background: #7954BD;
    }

    .title {
      margin-top: 4rem;
      width: 80%;
      padding-left: 3rem;
    }
  }

  //section2
  .organizations {
    .rectangle {
      position: absolute;
      width: 721px;
      height: 361px;
      top: 46rem;
      left: 25.8rem;

      border: 3px solid #734DBC;
      box-sizing: border-box;
    }

    .title {
      padding-bottom: 5rem;
      text-align: center;
    }
  }
  .org-img {
    position: relative;
    width: 100%;
  }

  //section3
  .tools {
    background: #f3ebff;
    .tool-link {
      width: 100%;
      justify-content: center;
    }

    .title {
      padding-left: 10.5rem;
    }

    .icon-img {
      margin-right: 0.5rem;
    }

    .tool-menu {
      margin-right: 2rem;
      text-align: left;
    }

    .title {
        width: 45%;
    }
  }

  //section4
  .posts {
    .container {
      margin-left: 0;
    }
    .posts-rectangle {
      float:left;
      margin-top: 36rem;
      margin-left: 4.2rem;
      width: 378px;
      height: 1000px;
      background: #F3EBFF;

      .text-rectangle {
        margin-top: 13rem;
        vertical-align: middle;
        position: absolute;
        width: 374px;
        height: 780px;
        background: rgba(121, 84, 189, 0.43);
        filter: blur(200px);
      }

      .title {
        padding-left: 0;
        text-align: center;
        margin-top: 13rem;
      }
      .text {
        margin-left: 5rem;
        margin-top: 5rem;
      }
    }

    .post-img {
      float:left;
      margin-top: 40rem;
      width: 827px;
      float: left;
      height: 917px;
      background: #7954BD;

      .post {
        margin-top: 1.3rem;
        float: right;
        justify-content: flex-end;
        width: 98%;
        height: 98%;
      }
    }
  }
}
