.posts-card-button {
  transition: all 0.5s ease 0s;

  &:hover {
    background-color: $main-color-hover;
    color: #fff;
    transform: translateY(-2px);
  }
}

.posts-categories-list {
  .posts-category-list-item {
    &.active {
      background-color: $main-color-hover;
    }
  }
}

.posts-badge {
  .badge-bg-color {
    background-color: $main-color-hover;
  }
}

.post-item {
  .post-description {
    text-align: justify;
    text-justify: inter-word;
    text-indent: 50px;
  }
}