.pricing-page {

  h1 {
    margin-top: 5rem;
    text-align: center;
  }
}

.pricing {
  margin-top: 15rem;
  text-align: center;

  h4 {
    color: $main-color;
  }

  .pricing-btn {
    background: $main-color;
    color: #ffffff;
    border:  1px solid $main-color-hover;

    &:hover {
      background: $main-color-hover;
    }
  }

  .pricing-card {
    padding: 2rem;
    border: 1px solid $main-color;
  }

  .price {
    font-size: 30px;
  }

  .cart-text {
    font-size: 15px;
  }
}
