@media (max-width: 991px) {
  .hide-sidebar-menu {
    display: none;
  }

  .collapse {
    .hide-sidebar-menu {
      display: block;

      .shadow-toggle-menu-none {
        box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 0%) !important;
      }
    }
  }
}
