@import "bootstrap";
@import "stylesheets/pagination";
@import "stylesheets/colors";

body {
  background-color: $background-color;
}
.sidebar,.dropdown-menu {
    .change-color {
      transition: .2s;

    &:hover {
      color: $primary;
    }
  }
    .change-bg-color {
      background-color: transparent;

    &:hover {
      background-color: #f3f4f7;
    }
  }
}

.reaction_group {
  display: block;
  width: 40px;
  margin: 8px;
  border-radius: 40%;
  background-color: rgb(228, 228, 228);
  &_liked {
    color:#5a78a0;
    background-color: rgb(167, 180, 240);
  }
}
