@import "bootstrap";
@import "stylesheets/pagination";

.sidebar,.dropdown-menu {
    .change-color {
      transition: .2s;

    &:hover {
      color: $primary;
    }
  }
    .change-bg-color {
      background-color: transparent;

    &:hover {
      background-color: #f3f4f7;
    }
  }
}
.img-height {
  height: 60px;
  width: 60px;
}