@import "bootstrap";
@import "users";
@import "stylesheets/pagination";
@import "toastr/toastr";
@import "stylesheets/colors";
@import "stylesheets/search";
@import "stylesheets/fonts";
@import "stylesheets/style";
@import "stylesheets/feedback_form";
@import "stylesheets/about";
@import "stylesheets/posts";
@import "stylesheets/forms";
@import "stylesheets/feedbacks";
@import "stylesheets/home";
@import "stylesheets/gifts";
@import "stylesheets/sidebar";
@import "stylesheets/header";
@import "stylesheets/organization_gifts";
@import "stylesheets/comments";
@import "notification";

body {
  background-color: $background-color;
}

.sidebar,.dropdown-menu {
    .change-color {
      transition: .2s;

    &:hover {
      color: $primary;
    }
  }
    .change-bg-color {
      background-color: transparent;

    &:hover {
      background-color: #f3f4f7;
    }

    &.active {
      background-color: $primary;
      color: white;
      border-radius: 2px;
      transition: .2 ease;
    }
  }
}

.search__image {
  height: 60px;
  width: 60px;
}

.reaction__button {
  border-radius: 20px;

  &_added {
    border: 1px solid $focus-text-color-menu;
  }
}
