| comment = document.querySelector(`#comments_for_${ #{@commentable.id} }`);
| comment.insertAdjacentHTML('afterbegin', "#{j render('account/comments/comment', comment: @comment)}", 'text/html');
| document.querySelector(`#form_for_${#{@commentable.id}}`).innerHTML = "#{j render('account/comments/form', commentable: @commentable, comment: Comment.new) }";
