.container.my-5
  section.team-section
    .card
      .card-header.bgc
        p.h5.text-center.text-light.font-weight-bold.mb-0
          | Developers
        ul.list-unstyled.d-flex.align-items-center.mb-0
          li
            span.badge.badge-danger
          li
            i.far.fa-window-minimize.fa-sm.pl-3
          li
            i.fas.fa-times.fa-sm.pl-3
      .card-body
        .row.pt-4.d-flex.justify-content-center
          - PublicPagesHelper::DEVELOPERS.each do |developer|
            .col-lg-2.col-md-4.col-sm-6.pb-4

              .avatar.white.text-center
                img.img-fluid.rounded-circle.z-depth-1.shadow.bg-body.rounded[src= developer[:avatar]]

              .text-center.mt-2
                h6.font-weight-bold.pt-2.mb-0
                  = developer[:name]
                h6.font-weight-bold.pt-2.mb-0
                  = developer[:last_name]
                p.text-muted.mb-0
                  small
                    | Ruby dev
