<div class="container my-5">

  <!-- Section: Block Content -->
  <section class="team-section">

    <div class="card">
      <div class="card-header" style="background-color:#734dbb">
        <p class="h5 text-center text-light font-weight-bold mb-0  ">Developers</p>
        <ul class="list-unstyled d-flex align-items-center mb-0">
          <li><span class="badge badge-danger"></span></li>
          <li><i class="far fa-window-minimize fa-sm pl-3"></i></li>
          <li><i class="fas fa-times fa-sm pl-3"></i></li>
        </ul>
      </div>
      <div class="card-body">
        <div class="row pt-4 d-flex justify-content-center ">
          <div class="col-lg-2 col-md-4 col-sm-6 pb-4">
            <div class="avatar white text-center">
              <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/600px-No_image_available.svg.png" class="img-fluid rounded-circle z-depth-1"/>
            </div>
            <div class="text-center mt-2">
              <h6 class="font-weight-bold pt-2 mb-0">Serhii Posternak</h6>
              <p class="text-muted mb-0"><small>Ruby dev</small></p>
            </div>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 pb-4">
            <div class="avatar white text-center">
              <img src="https://i.ibb.co/VTmPhRT/index.jpg" class="img-fluid rounded-circle z-depth-1"/>
            </div>
            <div class="text-center mt-2">
              <h6 class="font-weight-bold pt-2 mb-0">Dimko</h6>
              <p class="text-muted mb-0"><small>Ruby dev</small></p>
            </div>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 pb-4">
            <div class="avatar white text-center">
              <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/600px-No_image_available.svg.png" class="img-fluid rounded-circle z-depth-1"/>
            </div>
            <div class="text-center mt-2">
              <h6 class="font-weight-bold pt-2 mb-0">Misha V</h6>
              <p class="text-muted mb-0"><small>Ruby dev</small></p>
            </div>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 pb-4">
            <div class="avatar white text-center">
              <img src="https://i.ibb.co/XV3RGTy/1.jpg" class="img-fluid rounded-circle z-depth-1"/>
            </div>
            <div class="text-center mt-2">
              <h6 class="font-weight-bold pt-2 mb-0">Diana Godovanets</h6>
              <p class="text-muted mb-0"><small>Ruby dev</small></p>
            </div>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 pb-4">
            <div class="avatar white text-center">
              <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/600px-No_image_available.svg.png" class="img-fluid rounded-circle z-depth-1"/>
            </div>
            <div class="text-center mt-2">
              <h6 class="font-weight-bold pt-2 mb-0">Romm Eve</h6>
              <p class="text-muted mb-0"><small>Ruby dev</small></p>
            </div>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 pb-4">
            <div class="avatar white text-center">
              <img src="https://i.ibb.co/cvGvXKC/2.jpg" class="img-fluid rounded-circle z-depth-1"/>
            </div>
            <div class="text-center mt-2">
              <h6 class="font-weight-bold pt-2 mb-0">Sofia</h6>
              <p class="text-muted mb-0"><small>Ruby dev</small></p>
            </div>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 pb-4">
            <div class="avatar white text-center">
              <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/600px-No_image_available.svg.png" class="img-fluid rounded-circle z-depth-1"/>
            </div>
            <div class="text-center mt-2">
              <h6 class="font-weight-bold pt-2 mb-0">Denys Vinegod</h6>
              <p class="text-muted mb-0"><small>Ruby dev</small></p>
            </div>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 pb-4">
            <div class="avatar white text-center">
              <img src="https://i.ibb.co/M1ThK0Y/index.jpg" class="img-fluid rounded-circle z-depth-1"/>
            </div>
            <div class="text-center mt-2">
              <h6 class="font-weight-bold pt-2 mb-0">Vasul Yatsushun</h6>
              <p class="text-muted mb-0"><small>Ruby dev</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>
  <!-- Section: Block Content -->

</div>
