<div class="container">

  <!-- Section -->
  <section>

    <div class="row">

      <!-- Grid column -->
      <div class="col-12 mb-4">

        <div class="card">
          <div class="card-body p-0">
            <!-- Chart -->
            <div class="view view-cascade gradient-card-header blue-gradient p-4 rounded" style="background-color: #734dbb;">

              <canvas id="lineChart" height="100"></canvas>

            </div>
          </div>
        </div>

      </div>
      <!-- Grid column -->

    </div>

  </section>
  <!-- Section -->

</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script>
  // Main chart
var ctxL = document.getElementById("lineChart").getContext('2d');
var myLineChart = new Chart(ctxL, {
  type: 'line',
  data: {
    labels: ["January", "February", "March", "April", "May", "June", "July","May", "June", "July"],
    datasets: [{
      label: "Added organization per month",
      fillColor: "#fff",
      backgroundColor: 'rgba(255, 255, 255, .3)',
      borderColor: 'rgba(255, 255, 255)',
      data: [0, 10, 5, 2, 20, 30, 100],
    }]
  },
  options: {
    legend: {
      labels: {
        fontColor: "#fff",
      }
    },
    scales: {
      xAxes: [{
        gridLines: {
          display: true,
          color: "rgba(255,255,255,.25)"
        },
        ticks: {
          fontColor: "#fff",
        },
      }],
      yAxes: [{
        display: true,
        gridLines: {
          display: true,
          color: "rgba(255,255,255,.25)"
        },
        ticks: {
          fontColor: "#fff",
        },
      }],
    }
  }
});
</script>
