<div class="container my-5">
  <div class="card">
    <div class="card-header mb-1"style="background-color:#734dbb">
      <p class="h5 text-center text-light font-weight-bold mb-0  ">Users all</p>
    </div>

    <div class="col-12 row d-flex justify-items-around ">
    <% @user.each do |user|%>

    <div class="col-2">
    <div class="avatar white text-center">
      <%=image_tag(user.avatar, class: "img-fluid pr-2 rounded-circle z-depth-1 shadow bg-body rounded")%>
    </div>
     <div class="text-center mt-2">
      <h6 class="font-weight-bold pt-2 mb-0"><%= user.first_name%></h6>
      <h6 class="font-weight-bold pt-2 mb-0"><%= user.last_name%></h6>
    </div>
    </div>

          <%end%>
  </div>
</div>
</div>
