* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background: #F7F7F7;
  min-height: 100vh;
}

.sidebar {
  position: fixed;
  width: 75px;
  height: 100%;
  background: rgb(86,1,142);
  background: linear-gradient(176deg, rgba(86,1,142,1) 1%, rgba(128,6,227,1) 100%);
  transition: 0.5s;
  display: flex;
}

.sidebar:hover {
  width: 300px;
}

.sidebar .icon {
  margin-left: 10px;
  position: relative;
  display: block;
  text-decoration: none;
  color: #F7F7F7;
  font-size: 30px;
}

.sidebar .title{
  display: none;
}
.sidebar:hover .title{
  width: 300px;
  display: flex;
  color: #F7F7F7;
  flex-direction: row;
}

.sidebar li {
  margin-top: 100px;
  padding-left: 10px;
}




